body {
  background: url("./media/pexels-ketut-subiyanto-4474052.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Itim", cursive;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.3);
  margin: 5px;
}

.heading {
  font-size: 30px;
}

.input {
  padding: 10px 20px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.5);
}

.btn {
  background: #20262e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.info-text {
  font-size: 20px;
  font-weight: 500;
}

#bmi-result {
  color: blue;
  font-size: 25px;
}
