body {
  background: url("./media/pexels-ketut-subiyanto-4474052.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Itim", cursive;
}
